.project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
}

.project-info-content {
    display: flex;
    flex-direction: column;
}

.project-info-buttons {
    display: flex;
    gap: 0.4rem;
  }

.project-info h2, .project-info p {
    margin: 0.4rem;
}

.project-info a, .project-info button {
    margin: 0;
}

.section-container-tasks {
    width: 50%;
  }

.task-container {
    background-color: #D9D9D9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 0.7rem;
}

.task-points {
    font-size: 24px;
    font-weight: bold;
    color: #256D1B;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.task-title h3 {
    color: black;
    margin-right: 0.5rem;
    flex: 1;
}

.task-team-name {
    color: #00A6A6;
}

.project-task-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.project-content-container {
    display: flex;
    justify-content: space-between;
}

.section-container-tasks {
    width: 100%;
    flex: 1;
}

.section-container-team-stats {
    flex: 1;
}

.team-stats-table {
    width: 100%;
    border-collapse: collapse;
}

.team-stats-table th, .team-stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.team-stats-table th {
    background-color: #f2f2f2;
}