
.header {
    background-color: #1A2044;
    display: flex;
    justify-content: space-between;
    padding-left: 50%;
    padding-bottom: 1vmin;
    align-items: center;


    .logo {
        height: 10vmin;
    }

    .header-end {
        padding: 1vmin 5vmin;
        display: flex;

        .button {
            margin-right: 2vmin;
        }
        .inside-button {
            background-color: #FFD700;
            border: none;
            border-radius: 5px;
            padding: 1vmin 2vmin;
            font-size: 1.5em;
            font-weight: bold;
            cursor: pointer;

        }
    }
}

.login-modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 23rem;
    background-color: white;
    border-radius: 10px;
}
.signin-modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40rem;
    background-color: white;
    border-radius: 10px;
}
.modal-box-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1vmin;
    margin-left: 2vmin;
}
.modal-box-form {
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    .modal-box-form-content {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1vmin;
    }
    .modal-box-form-footer {
        font-size: 1em;
        font-weight: bold;
        align-self: end;
    }
}