.secton-container-tasks {
    width: 50%;
  }

.task-container {
    background-color: #D9D9D9;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin: 0.7rem;
}

.task-points {
    font-size: 24px;
    font-weight: bold;
    color: #256D1B;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.task-title h3 {
    color: black;
    margin-right: 0.5rem;
    flex: 1;
}

.task-team-name {
    color: #00A6A6;
}