.secton-container-projects {
    width: 50%;
  }

.project-container {
    background-color: #D9D9D9;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0.7rem;
}

.project-title h3 {
    color: black;
    margin-right: 0.5rem;
    flex: 1;
}
